ion-header {
  position: absolute;
}

ion-toolbar {
  --ion-background-color: transparent;
  --opacity: 0;
}

ion-content {
  --ion-background-color: #E1EAF9;
}

.wrapform {
  margin-top: 15px;
}

ion-item {
  color: #74787E;
  --border-color: #D4D7DB;
  --highlight-color-focused: #647B9D;
  --padding-start: 0;
  --inner-padding-end: 0;
  font-size: 12px;
  ion-input {
    color: #647B9D;
  }
}

.password_forgot {
  text-align: right;
  ion-button {
    font-size: 12px;
  }
}

.sign-button-wrap {
  text-align: center;
  padding-top: 20px;
  .sign-button {
    --ion-primary-color: #215AB7;
    color: #F4F6FA;
  }
}

ion-card {
  --ion-background-color: transparent;
  box-shadow: none !important;
}
